<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <a class="" href="@Url.Action("Index", "home")">
            <img class="pull-left logo" src="~/images/logov1.png">
        </a>
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Jarvis", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        if (Request.IsAuthenticated && User.IsInRole("admin"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    User Role Dashboards <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("AdminDashBoard", "Accounts")">Admin Dashboard</a></li>
                                    <li><a href="@Url.Action("ConsumerDashboard", "Accounts")">Member Dashboard</a></li>
                                </ul>
                            </li>
                        }
                        else if (Request.IsAuthenticated && User.IsInRole("member"))
                        {
                            <li><a href="@Url.Action("ConsumerDashboard", "Accounts")">Dashboard</a></li>
                        }
                    }
                    
                    @{
                        if (Request.IsAuthenticated)
                        {
                            <li><a href="@Url.Action("Data", "Accounts")">Data</a></li>
                            <li><a href="@Url.Action("Insights", "Accounts")">Insights</a></li>
                        }
                    }
                    <li><a href="@Url.Action("About", "Home")">About</a></li>
                    <li><a href="@Url.Action("Support", "Home")">Support</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://drive.google.com/file/d/0B2Rf6NjOLm0STEVMM0k5NG9rT0U/view?usp=sharing" target="_blank">Phase-2 Doc</a></li>                 
                    @{
                        if (!Request.IsAuthenticated)
                        {
                            <li><a href="@Url.Action("Login", "Accounts")">Log in</a></li>
                            <li><a href="@Url.Action("Register", "Accounts")">Register</a></li>
                        }
                        else if (Request.IsAuthenticated)
                        {
                            <li><a href="#">Hello, @Html.Raw(User.Identity.Name)</a></li>
                            <li><a href="@Url.Action("Logout", "Accounts")">Log out</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="clearfix col-sm-12">
            @RenderBody()
            <footer class="col-sm-12">
                <hr />
                <p style="text-align: center">&copy; @DateTime.Now.Year - Jarvis</p>
            </footer>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>