
@{
    ViewBag.Title = "Admin Dashboard";
}



<div class="col-sm-8">
    <h2 style="margin-left: 10px;">@Html.Raw(ViewBag.Title)</h2>
    <p>@DateTime.Now.ToString("F")</p>
    <div class="col-sm-6">
        <h3> Manage Consumer Accounts </h3>

        <ul>
            <li>@Html.ActionLink("View all Consumer Accounts", "ViewAllConsumerAccounts")</li>
            <li> Sign into Consumer Account </li>
            <li> Create a new Consumer Account </li>
            <li> Update a  Consumer Account Info </li>
            <li> Delete a Consumer Account </li>
        </ul>
    </div>
    <div class="col-sm-6">
        <h3> Manage Providers </h3>
        <ul>
            <li> View all Providers </li>
            <li> Sign into Provider Account </li>
            <li> Create a new Provider Account </li>
            <li> Edit a Provider Account Info </li>
            <li> Delete a Provider Account </li>
        </ul>
    </div>
</div>
<div style="padding-left:20px; border-left: 1px solid #333;" class="col-sm-4">
    <h2> Supported Devices </h2>
    <div class="col-sm-12">
        <h3> Lights </h3>
            <ul>
                <li> Bulb </li>
                <li> Color Bulb </li>
                <li> Ceiling Unit</li>
            </ul>
        <h3> Heating </h3>
        <ul>
            <li> Thermostat </li>
        </ul>
        <h3> Other </h3>
        <ul>
            <li> Coffee Machine </li>
            <li> Camera </li>
            <li> Lock</li>
        </ul>
        @Html.ActionLink("Register Providers", "RegisterDevices") | 
        @Html.ActionLink("Data View", "Data") |
        @Html.ActionLink("Account View", "ViewAllConsumerAccounts") |
        @Html.ActionLink("AdminDashboard", "AdminDashboard")
    </div>
</div>
