@{
    ViewBag.Title = "Consumer Dashboard";
}

<div class="container">

    <p>@DateTime.Now.ToString("F")</p>
<div  class="col-sm-8 page-content">
    <h2 style="margin-bottom: 40px; margin-left: 10px;">@Html.Raw(ViewBag.Title)</h2>
    <img style="width: 100%;" src="~/images/energy.PNG"/>
    <div>

        <div>
            <table class="table table-condensed table-responsive">
                <tr>
                    <th style="width: 200px;">Device Id</th>
                    <th style="width: 200px;">State</th>
                    <th style="width: 200px;">Time</th>
                    <th style="width: 200px;">KW/h</th>
                </tr>
                <tr>
                    <td>NestLabs Thermostat</td>
                    <td>23 degrees Celsius</td>
                    <td>5 mins. ago</td>
                    <td>0.002</td>
                </tr>
                <tr>
                    <td>WeMo Light #1</td>
                    <td>Off</td>
                    <td>2 hous ago</td>
                    <td>0.01</td>
                </tr>
                <tr>
                    <td>WeMo Light #2</td>
                    <td>On</td>
                    <td>10 min. ago</td>
                    <td>0.1</td>
                </tr>
                <tr>
                    <td>June Intelligent Oven</td>
                    <td>350 degrees Celsius</td>
                    <td>5 min. ago</td>
                    <td>0.1</td>
                </tr>
                <tr>
                    <td style="text-overflow: ellipsis;">LG Smart ThinQ Refrigerator</td>
                    <td style="text-overflow: ellipsis;">Fridge: 3 degrees Celsius/ IceBox: -2 degrees Celsius</td>
                    <td style="text-overflow: ellipsis;">10 min. ago</td>
                    <td>2.3</td>
                </tr>
                <tr>
                    <td>Apple TV</td>
                    <td>On - Channel 43</td>
                    <td>5 min. ago</td>
                    <td>0.8</td>
                </tr>
            </table>
        </div>

    </div>
</div>
<div style="padding-left:20px;"class="col-sm-4 side-bar">
    @Html.ActionLink("Dashboard", "ConsumerDashboard", null, new { @class = "btn btn-default btn-lg btn-block" })
    @Html.ActionLink("Account", "AccountView", null, new { @class = "btn btn-default btn-lg btn-block" })
    @Html.ActionLink("Conncected Devices", "RegisterDevices", null, new { @class = "btn btn-default btn-lg btn-block" })
    @Html.ActionLink("Insights", "Insights", null, new { @class = "btn btn-default btn-lg btn-block" });

    <div class="col-sm-12">
        <h3> Lights </h3>
        <ul>
            <li> Kitchen </li>
            <li> Dining Room </li>
            <li> Master Bedroom </li>
            <li> Living Room </li>
        </ul>
        <h3> Heating </h3>
        <ul>
            <li> Dining Room Thermostat </li>
            <li> Living Room Thermostat </li>
        </ul>
        <h3> Other </h3>
        <ul>
            <li> Coffee Machine </li>
            <li> Camera </li>
        </ul>
        @Html.ActionLink("Register Devices", "RegisterDevices")

        

    </div>  
</div>
 </div>
